<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <param-name>AAA</param-name>
    <param-value>AAA's value</param-value>
  </context-param>
  <context-param>
    <param-name>BBB</param-name>
    <param-value>BBB's value</param-value>
  </context-param>
  <context-param>
    <param-name>CCC</param-name>
    <param-value>CCC's value</param-value>
  </context-param>
  <servlet>
    <servlet-name>TestConfig</servlet-name>
    <servlet-class>com.rlovep.serlvet.TestConfig</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>peace</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestConfig</servlet-name>
    <url-pattern>/TestConfig</url-pattern>
  </servlet-mapping>
</web-app>